apiVersion: v1

kind: ConfigMap

metadata:
  name: coinnews

type: Opaque

stringData:
  MAILGUN_DOMAIN=fill_this
  MAILGUN_API_KEY=fill_this

  POSTGRES_USER=fill_this
  POSTGRES_PASSWORD=fill_this
  POSTGRES_DB=fill_this